<template>
  <div class="default">
    <Nuxt />
  </div>
</template>

<style>
*,
*::before,
*::after {
  @apply box-border m-0;
}

.default {
  background-image: url('~@/assets/cover.webp');
  @apply tracking-wide bg-no-repeat bg-cover bg-purple-800;

  @apply h-screen w-screen;
  @apply flex flex-col justify-center items-center;
}
</style>
