<template>
  <div class="profile">
    <img
      class="profile__picture"
      alt="Renato's Profile Picture"
      width="512"
      height="512"
      src="https://s.gravatar.com/avatar/cdffc1df22bce6b6a4a1776e2450474c?s=512"
    />

    <h1 class="profile__name">{{ profile_name }}</h1>

    <h2 class="profile__username">({{ profile_username }})</h2>

    <ul class="profile__description">
      <template v-for="item in description_items">
        <li :key="item" class="profile__description__items">{{ item }}</li>
      </template>
    </ul>

    <ul class="profile__social">
      <template v-for="item in social_items">
        <a
          :key="item"
          class="profile__social__link"
          :href="`https://renatocf.xyz/${item}`"
        >
          <font-awesome-icon
            class="profile__social__icon"
            :icon="['fab', item]"
          />
        </a>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      profile_name: 'Renato Cordeiro',
      profile_username: '@renatocf',
      description_items: ['programmer', 'researcher', 'geek'],
      social_items: ['twitter', 'github', 'gitlab', 'linkedin'],
    }
  },
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS */
.profile {
  @apply bg-white;
  @apply max-w-full;
  @apply px-12 py-12 rounded;
  @apply flex flex-col justify-around items-center text-center;
}

.profile__picture {
  @apply h-48 w-48 mb-3;
  @apply rounded-full;
}

.profile__name {
  @apply mt-3;
  @apply font-display font-bold text-gray-800 text-xl uppercase;
}

.profile__username {
  @apply mb-3;
  @apply font-body font-light text-gray-800 text-base lowercase;
}

.profile__description {
  @apply mb-3;
  @apply flex flex-row;
}

.profile__description__items {
  @apply font-body font-light text-gray-800 uppercase;
}

.profile__description__items + .profile__description__items::before {
  content: '⬩';
  @apply font-body mx-1;
}

.profile__social {
  @apply w-full mt-3;
  @apply flex flex-row justify-evenly items-center;
}

.profile__social__link {
  @apply block h-12 w-12 p-2;
  @apply border rounded-full outline-none;
  @apply flex flex-row justify-center items-center;
  @apply border-gray-600 text-gray-600;
}

.profile__social__link:hover,
.profile__social__link:focus {
  @apply border-indigo-800 text-indigo-800;
}

.profile__social__icon {
  @apply min-h-full min-w-full;
}
</style>
